<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title><%= pageTitle %></title>
</head>
<body dir="rtl" class="container red">
    <h1>وبلاگ</h1>
    <p>به وبلاگ من خوش امدید</p>
    <span class="fa fa-plane"></span>
    <button class="btn btn-success">click me!!</button>
</body>
</html>